---
layout: base
welcome_short_title: Bem vindo
welcome: |
 # Bem vindo ao website do NDDV
 *Bem vindo ao website do Núcleo de Design e Desenvolvimento de Videojogos*
about: |
 # Quem somos
 Nós somos estudantes da fct com interesse em game dev.
contact:
 title: Contactos
 paragraph: Segues-nos para estares sempre a par de novidades!!!
---
<!-- Sidebar -->
<section id="sidebar">
	<img src="images/logo-no-frame.png">
	<div class="inner">
		<nav>
			<ul>
				<li><a href="#intro">{{ page.welcome_short_title }}</a></li>
			{% for nav_element in site.data.navigation offset:1 %}
				<li><a href="{{ nav_element.link | relative_url }}">{{ nav_element.name }}</a></li>
			{% endfor %}
			</ul>
		</nav>
	</div>
</section>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Intro -->
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				{{ page.welcome | markdownify }}
				</ul>
			</div>
		</section>

	<!-- One -->
		<section id="about" class="wrapper style2 spotlights">
			<section>
			{% if page.about.cover %}
				<a href="#" class="image"><img src="{{ about.cover | relative_url }}" alt="" data-position="center center" /></a>
			{% endif %}
				<div class="content">
					<div class="inner">
						{{ page.about | markdownify }}
					</div>
				</div>
			</section>
			
	<!-- Two -->
		<section id="contacts" class="wrapper style1 fade-up">
			<div class="inner">
				<h2>{{page.contacts.title}}</h2>
				<p>{{page.contacts.paragraph}}</p>
				{% include contacts.html contacts=site.data.contacts %}
			</div>
		</section>

</div>