---
layout: base
welcome_short_title: Bem vindo
welcome: |
 # Bem vindo ao website do NDDV
 *Bem vindo ao website do Núcleo de Design e Desenvolvimento de Videojogos*
about: |
 # Quem somos
 Nós somos estudantes da [FCT NOVA](https://fct.unl.pt) com interesse em desenvolvimento e design de videojogos.
 # A nossa meta
 - Proporcionar uma comunidade dentro da FCT para pessoas com interesse na indústria de videojogos
 - Criar interesse e auxiliar alunos da FCT em áreas relacionadas com game dev
 - Servir como ponto de ligação entre alunos e a comunidade portuguesa de game dev
 - Tornar a FCT uma referência nacional para game dev
contacts-paragraph: Segues-nos para estares sempre a par de novidades!!!
---
<!-- Sidebar -->
<section id="sidebar">
	<a href="#intro"><img src="assets/images/logo-no-frame.png"></a>
	<div class="inner">
		<nav>
			<ul>
			{% for nav_element in site.data.navigation %}
				<li><a href="{% if nav_element.home_relative %}{{ nav_element.home_relative }}{% else %}{{ nav_element.link | relative_url }}{% endif %}">{{ nav_element.name }}</a></li>
			{% endfor %}
			</ul>
		</nav>
	</div>
</section>
<!-- Wrapper -->
<div id="wrapper">

	<!-- Intro -->
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				{{ page.welcome | markdownify }}
				</ul>
			</div>
		</section>
	<!-- News -->
	<section id="about" class="wrapper style3 spotlights">
		<div class="content">
			<div class="inner">
				
			</div>
		</div>
	</section>

	<!-- About -->
		<section id="about" class="wrapper style3 spotlights">
			<section>
			{% if page.about.cover %}
				<a href="#" class="image"><img src="{{ about.cover | relative_url }}" alt="" data-position="center center" /></a>
			{% endif %}
				<div class="content">
					<div class="inner">
						<!--Get the first header and paragraph from about-->
						{%- assign about= site.pages | where: "name", "about.md" | first -%}
						{{ about.content | split: "<!--excerpt-->" | first | markdownify }}
						<a href="{{'/about' | relative_url }}" class="button">Ler mais</a>
					</div>
				</div>
			</section>
			
	<!-- Contacts -->
		<section id="contacts" class="wrapper style1 fade-up">
			<div class="inner">
				<h2>Contactos</h2>
				<p>{{page.contacts-paragraph}}</p>
				{% include contacts.html contacts=site.data.contacts %}
			</div>
		</section>

</div>